
{% extends "layouts/base.html" %}
{% block top %}
{% endblock %}

{% block title %}TEDxBerkeley {{ events.current }} About{% endblock %}

{% block body %}

{% set dark_text_title = 'What is TEDxBerkeley really<span>*</span> about?' %}
{% set dark_text_copy = about.whatistedxberkeley.copy %}
{% set dark_text_href = '/speakers' %}
{% set dark_text_link = 'See 2018 Speakers <span class="bracket">&RightAngleBracket;</span>' %}
{% set dark_text_asterisk = True %}
{% include "modules/dark_text_with_title_single.html" %}

{% set bright_text_title = 'Meet the Team' %}
{% set bright_text_copy = "We're student-led, right here from the UC Berkeley campus." %}
{% set bright_text_href = '/about/meetTheTeam' %}
{% set bright_text_link = 'Meet the 2017 team <span class="bracket">&RightAngleBracket;</span>' %}
{% include "modules/bright_action.html" %}

{% include "modules/dark_text_with_title_tedx.html" %}
{% endblock %}
