.bright-action {
    @extend .text_with_title;
    background-color:$tedred;

    .title {
        color:#FFF;

        span {
            color: #000;
        }
    }

    .subtitle {
        color:#FFF;
    }

    .content {
        color:#FFF;
    }
}

section.bright-action {
    padding-bottom:10em;
}

.bright-action::before {
    @extend .slantbefore;
}

.bright-action::after {
    @extend .slantafter;
}