.dark_text_with_title {
    @extend .text_with_title;
    background-color:#111;

    .title {
        color:#FFF;

        span {
            color: $tedred;
        }
    }

    .subtitle {
        color:#FFF;
    }

    .content {
        color:#ccc;
    }
}
