.light_text_with_title {
    @extend .text_with_title;

    .title {
        color:#333;

        span {
            color: $tedred;
        }
    }

    .content {
        color:#999;
    }

    padding-bottom:10em;
}

.light_text_with_title::before {
    @extend .slantbefore;

    border-left:1000px solid #FFF;
    border-bottom:50px solid #FFF;
}

.light_text_with_title::after {
    @extend .slantafter;

    border-top:50px solid #FFF;
    border-left:1000px solid #FFF;
}