header {
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    box-sizing:border-box;
    padding:2em 3em;

    nav, ul {
        margin:0;
        padding:0;
    }

    li {
        list-style:none;
        padding:0;

        a {
            display:inline-block;
            float:right;
            padding:1em;
            margin:1em 0;
            letter-spacing:0.1em;
            text-decoration:none;
            font-size:0.8em;
            text-transform:uppercase;
            font-family:'Lato';
            color:#FFF;
        }

        a:hover {
            border-bottom:1px solid #FFF;
            color:#FFF;
        }
    }
}