* {
  margin:0;
  padding:0;
  float:left;
  font-family:'Lato';
}
html, body, header, section, .theme {
  width:100%;
}
span a, p a, p b, p i {
  float:none;
}
header, .landing {
  background-color:#551010;
}
h1,h2,h3 {
  font-weight:300;
}
.text,.speakers,.timeline {
  padding:5em 0;
  text-align:center;
}
  .logo {
    width:4em;
  }
  header {
    padding:2em 3em;
  }
  .landing .byline,footer {
    font-weight:300;
    font-size:1.1em;
    padding:2em 0;
    background-color:rgba(0,0,0,0.3);
    width:100%;
    margin-top:3em;
  }
    .byline span,footer span {
      width:100%;
      color:#FFF;
      text-align:center;
      letter-spacing:0.05em;
    }
    footer span {
      width:100%;
    }
    footer {
      background-color:#222;
      text-align:center;
      padding:5em 0;
    }
    footer img {
      float:none;
      display:inline-block;
      width:5em;
      margin:2em 0;
    }
    footer .author {
      color:#666;
    }
      .author a {
        color:#999;
        border-bottom:1px dashed #999;
        text-decoration:none;
      }
      .author a:hover {
        border-bottom:1px solid #999;
      }
    .center {
      text-align:center;
    }
  a.button {
    display:inline-block;
    background-color:#e62b1e;
    color:#FFF;
    padding:1.5em 3em;
    border-radius:3em;
    text-transform:uppercase;
    font-weight:600;
    font-size:0.8em;
    letter-spacing:0.2em;
    float:none;
    margin:2em 0;
  }
    a.button:hover {
      text-decoration:none;
      background-color:#971212;
    }
  .title {
    font-size:2em;
    text-transform:uppercase;
    border-bottom:1px dashed #000;
    padding-bottom:0.25em;
    display:inline-block;
    float:none;
    margin-bottom:1.5em;
  }
    .dark .title {
      color:#FFF;
      border-bottom:1px dashed rgba(255,255,255,0.5);
    }
  .copy {
    font-weight:300;
    width:100%;
    font-size:1.25em;
    color:#666;
    line-height:200%;
  }
    .dark .copy {
      color:rgba(0,0,0,0.5);
    }
  .speakers {
    background-color:#f6f6f6;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
  }
    .speakers.dark {
      background-color:#551010;
    }
/* people */
.people h2 {
  margin-bottom:2em;
}
.person {
  overflow:hidden;
  margin-bottom:3em;
  border-radius:0.25em;
  background-color:rgba(0,0,0,0.25);
}
div.cell {
  padding:0.5em;
}
.caption {
  width:100%;
}
.person, .person img, .caption h3, .caption span {
  display:inline-block;
  width:100%;
  margin:0;
  padding:0;
}
  .caption h3 {
    font-weight:300;
    color:#FFF;
    font-size:1.25em;
  }
  .caption {
    box-sizing:border-box;
    padding:2em;
    min-height: 10em;
  }
  .caption span {
    color:#999;
    margin-top:0.5em;
  }
.avatar {
  width:100%;
  background-position: center;
  height:25em;
}
/* end people */
.events {
  float:none;
  display:inline-block;
}
.event {
  padding:1em 0;
  width:100%;
}
  .events::before {
    content:"";
    width:1px;
    position:absolute;
    top:0;
    left:50%;
    bottom:0;
    background-color:#ccc;
    z-index:10;
  }
  .event .time {
    width:50%;
    padding-right:2em;
    text-transform:uppercase;
    text-align:right;
    color:#999;
  }
  .event .time,.event p {
    font-size:1.2em;
    font-weight:300;
  }
    .event p {
      padding-left:2em;
    }
  .event::before {
    content:"";
    position:absolute;
    left:50%;
    margin-left:-0.45em;
    height:1em;
    width:1em;
    margin-top:0.4em;
    border-radius:50%;
    border:1px solid #ccc;
    background-color:#FFF;
    z-index:15;
  }
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .avatar {
    height:15em;
  }
}
