<html>
  <head>
    <title></title>
    <!-- third-party code -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <!-- custom code -->
    <link rel="stylesheet" href="../assets/style.css">
  </head>
  <body>
    <header>
      <img src="../assets/images/logo.svg" class="logo">
    </header>
    <section class="landing">
      <div class="col-md-4"></div>
      <div class="center col-md-4">
        <img src="../assets/images/findingx.png" class="theme">
        <a href="#" class="button">Watch Livestream</a>
      </div>
      <div class="byline">
        <span>February 6, 2016 &middot; Zellerbach Hall &middot; UC Berkeley</span>
      </div>
    </section>
    <section class="text">
      <!-- <h2 class="title">What is TEDxBerkeley?</h2>
      <p class="copy">On February 6, 2016, TEDxBerkeley is gathering world-thinkers, makers, and doers at UC Berkeley to discuss "Finding X". The audience will be composed of a diverse audience of over 2000 students, professors, and thought leaders from Berkeley and beyond for a stimulating day of presentations, discussions, entertainment and art that will spark new ideas and opportunities for all.</p> -->
    </section>
    <section class="speakers">
    </section>
    <section class="timeline">
    </section>
    <section class="sponsors">
    </section>
  </body>
</html>
