<html>
  <head>
    <title></title>
    <!-- third-party code -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <!-- custom code -->
    <link rel="stylesheet" href="../statics/style.css">
  </head>
  <body>
    <header>
      <img src="statics/images/logo.png">
    </header>
    <section class="landing">
      <img src="../statics/images/findingx.png" class="theme">
    </section>
    <section class="text">
    </section>
    <section class="speakers">
    </section>
    <section class="timeline">
    </section>
    <section class="sponsors">
    </section>
  </body>
</html>
