{% set id = 0 %}
{% for speaker in people %}
{% set id = id + 1 %}
<div class="profile-background" data-speaker-id="{{ id }}">
    <div class="profile-detail profile">
        <span class="profile-pic-mask">
            <span class="profile-pic" style="background:url('{{ speaker.image_uri }}'); background-size:cover; background-position:center;"></span>
        </span>
        <h2 class="profile-name">{{ speaker.name }}</h2>
        <p class="profile-byline">{{ speaker.byline }}</p>
        <p class="profile-copy">{{ speaker.description }}</p>
        <p class="profile-more">Close Window</p>
    </div>
</div>
{% endfor %}

<section class="people wrap-container">
    <div class="wrap">
        {% set id = 0 %}
        {% for speaker in people %}
        {% set id = id + 1 %}
        <div class="profile col-md-3">
            <span class="profile-pic-mask">
                <span class="profile-pic" style="background:url('{{ speaker.image_uri }}'); background-size:cover; background-position:center;"></span>
            </span>
            <h2 class="profile-name">{{ speaker.name }}</h2>
            <p class="profile-byline">{{ speaker.byline }}</p>
            <p class="profile-copy">{{ speaker.short_description or substr(speaker.description) }}</p>
            <p class="profile-more" data-speaker-id="{{ id }}">View More</p>
        </div>
        {% endfor %}
    </div>
</section>