<section class="darkopening wrap-container">
    <div class="wrap">
        <div class="number hidden-xs">{{ number }}</div>
        <p class="pronounciation">{{ pronounciation }}</p>
        <h1 class="title">{{ word }}<span>*</span></h1>
        {% if actual_definition %}<p class="definition">1. {{ actual_definition }}</p>{% endif %}
        {% if tedxberkeley_definition %}<p class="definition">{{ tedxberkeley_definition }}</p>{% endif %}
        <!--<a href="{{ events.2017.eventbrite_url }}" class="button">Buy Tickets <span class="bracket">&RightAngleBracket;</span></a>-->
        <p class="button">Videos coming soon</p>
        <h1 class="banner-left hidden-xs">Berkeley</h1>
    </div>
    <div class="playbar">
        <img src="/static/images/index_opening_wavy.svg">
        <a href="{{ events.2016.youtube_url }}" class="play-button">&blacktriangleright;<span>Watch 2016 Conference</span></a>
    </div>
</section>