/*!
 * TEDxBerkeley 2017
 * Website Designed by Alvin Wan (alvinwan.com)
 */

$tedred: rgba(230,43,30,1);

* {
    position:relative;
}

html, body {
    margin:0;
    padding:0;
    width:100%;
    font-family:'Open Sans';
}

a:hover {
    text-decoration: none;
}

.wrap-container {
    text-align:center;
}

.wrap {
    width:80%;
    float:none;
    display:inline-block;
}

.button {
    text-transform:uppercase;
    font-size:0.7em;
    letter-spacing:0.25em;
    text-decoration:none;
    display:inline-block;
    padding:1.5em 3em 2em 3em;
    border:2px solid #000;
    border:2px solid $tedred;
    color:$tedred;

    .bracket {
        font-size:2em;
        margin:-0.5em 0 -0.5em 0.75em;
    }
}

.animate3 {
    -webkit-transition: 0.3s ease;
    -moz-transform:     0.3s ease;
    -o-transform:       0.3s ease;
    transition:         0.3s ease;
}

.button:hover {
    background-color:$tedred;
    color:#FFF;
}

@import 'includes/header';
@import 'includes/footer';
@import 'modules/cards';
@import 'modules/darkopening';
@import 'modules/mosaic';
@import 'modules/opening';
@import 'modules/dark_text_with_title';